In [5]:
 # Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

df =purchase_data[["Purchase ID","SN","Age","Gender","Price"]]

df2 =df.drop_duplicates(["SN"], keep = "first")

unique = purchase_data["SN"].nunique()

# Create a DataFrame using a list of dictionaries
purchase_df = pd.DataFrame([
    {"Number of players": unique},

])
print(purchase_df)

   Number of players
0                576

In [6]:
unique2 = purchase_data["Item ID"].nunique()
print(unique2)

183

In [7]:
ave_price = purchase_data["Price"].mean()
ave_price

3.050987179487176

In [8]:
n_purchases = purchase_data["SN"].count()
n_purchases

780

In [9]:
Tot_Rev = purchase_data["Price"].sum()
Tot_Rev

2379.77

In [10]:
# Create a DataFrame using a dictionary of lists
purchase_df2 = pd.DataFrame(
    {"Number of Unique Items":[unique2],
     "Average Price": [ave_price],
      "Number of Purchases": [n_purchases],
      "Total Revenue": [Tot_Rev]}

)

In [11]:
print(purchase_df2)

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

In [12]:
df3 = purchase_data.groupby(['Gender']).nunique()
df4 = df3.SN

In [13]:
df3

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
Gender,,,,,,,
Female,113,81,22,1,90,90,79
Male,652,484,39,1,182,178,144
Other / Non-Disclosed,15,11,8,1,13,13,12

In [14]:
df4

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [15]:
state_counts = purchase_data["Gender"].value_counts(normalize=True)*100
state_counts

Male                     83.589744
Female                   14.487179
Other / Non-Disclosed     1.923077
Name: Gender, dtype: float64

In [16]:
price_gender = purchase_data.groupby(['Gender'])["Price"].mean()

In [17]:
price_gender

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [18]:
price_sum = purchase_data.groupby(['Gender'])["Price"].sum()

In [19]:
price_sum

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [20]:
price_person = purchase_data.groupby(['Gender','SN'])["Price"].mean()
price_person

Gender                 SN
Female                 Adastirin33       4.480000
                       Aerithllora36     4.320000
                       Aethedru70        3.540000
                       Aidain51          3.450000
                       Aiduesu86         4.480000
                       Aillyrin83        2.890000
                       Aisurdru79        1.755000
                       Assilsan72        4.900000
                       Assosia88         1.330000
                       Baelollodeu94     4.515000
                       Chadistaya75      3.940000
                       Chamast86         2.050000
                       Chamilsala65      4.275000
                       Chamirrasya33     1.525000
                       Chamjask73        4.610000
                       Chanastsda67      3.700000
                       Chanirra79        1.010000
                       Chanjask65        4.320000
                       Chanossast57      4.320000
                       Errian63          3.490000
                       Eudanu32          2.850000
                       Eudanu84          1.020000
                       Eusri70           3.670000
                       Frichaststa61     1.790000
                       Frichosia58       4.430000
                       Frichosiala98     3.540000
                       Haisurra41        4.400000
                       Hari50            2.955000
                       Heosurnuru52      2.230000
                       Heudai45          3.470000
                                           ...
Male                   Yadanu52          2.380000
                       Yadaphos40        2.675000
                       Yalae81           3.345000
                       Yalaeria91        1.060000
                       Yaliru88          3.030000
                       Yalo85            3.650000
                       Yalostiphos68     4.400000
                       Yarithllodeu72    3.750000
                       Yarithrgue83      3.450000
                       Yarithsurgue62    4.940000
                       Yarolwen77        4.430000
                       Yasrisu92         3.440000
                       Yastyriaphos75    4.750000
                       Yasur35           4.480000
                       Yasur85           1.100000
                       Yathecal72        3.460000
                       Yathedeu43        3.010000
                       Zhisrisu83        3.945000
                       Zontibe81         2.676667
Other / Non-Disclosed  Airi27            3.450000
                       Chanosian48       3.760000
                       Eodaisu60         3.940000
                       Haerithp41        4.400000
                       Idairin51         3.500000
                       Jiskirran77       3.390000
                       Lirtim36          1.330000
                       Maluncil97        2.640000
                       Rairith81         2.220000
                       Siarithria38      3.455000
                       Sundim98          4.750000
Name: Price, Length: 576, dtype: float64

In [21]:
bins = [0,9,14,19,24,29,34,39,100]
group_names =["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
#df = df["Age"]
#df
df2["Age Summary"] = pd.cut(df2["Age"], bins, labels=group_names)
df2

C:\Users\javie\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

,Purchase ID,SN,Age,Gender,Price,Age Summary
0,0,Lisim78,20,Male,3.53,20-24
1,1,Lisovynya38,40,Male,1.56,40+
2,2,Ithergue48,24,Male,4.88,20-24
3,3,Chamassasya86,24,Male,3.27,20-24
4,4,Iskosia90,23,Male,1.44,20-24
5,5,Yalae81,22,Male,3.61,20-24
6,6,Itheria73,36,Male,2.18,35-39
7,7,Iskjaskst81,20,Male,2.67,20-24
8,8,Undjask33,22,Male,1.10,20-24
9,9,Chanosian48,35,Other / Non-Disclosed,3.58,35-39
10,10,Inguron55,23,Male,4.74,20-24
11,11,Haisrisuir60,23,Male,2.67,20-24
12,12,Saelaephos52,21,Male,4.18,20-24
13,13,Assjaskan73,22,Male,1.70,20-24
14,14,Saesrideu94,35,Male,4.86,35-39
15,15,Lisassa64,21,Female,2.89,20-24
16,16,Lisirra25,20,Male,2.52,20-24
17,17,Zontibe81,21,Male,1.76,20-24
18,18,Reunasu60,22,Female,4.90,20-24
19,19,Chamalo71,30,Male,4.64,30-34
20,20,Iathenudil29,20,Male,4.60,20-24
21,21,Phiarithdeu40,20,Male,1.48,20-24
22,22,Siarithria38,38,Other / Non-Disclosed,3.81,35-39
23,23,Eyrian71,40,Male,3.40,40+
24,24,Siala43,30,Male,3.19,30-34
25,25,Lisirra87,29,Male,4.23,25-29
26,26,Lirtossa84,11,Male,1.61,10-14
27,27,Eusri44,7,Male,3.09,<10
28,28,Aela59,21,Male,4.32,20-24
29,29,Tyida79,24,Male,3.16,20-24
...,...,...,...,...,...,...
728,728,Chanosiaya39,44,Male,1.97,40+
729,729,Assylla81,20,Male,4.18,20-24
730,730,Aidaira26,30,Male,4.23,30-34
731,731,Eudanu84,22,Female,1.02,20-24
733,733,Chamiman85,20,Male,4.40,20-24
736,736,Tyialisti80,23,Male,4.14,20-24
737,737,Marundi65,22,Male,1.75,20-24
738,738,Eusur90,36,Male,1.60,35-39
739,739,Mindirranya33,35,Male,3.87,35-39
741,741,Phiallylis33,19,Male,4.58,15-19
742,742,Isty55,20,Male,4.08,20-24
743,743,Frichilsa31,15,Male,1.44,15-19
745,745,Chanista95,39,Male,3.16,35-39
746,746,Aellyria80,23,Male,3.08,20-24
748,748,Rastynusuir31,20,Male,2.27,20-24
750,750,Iljask75,22,Male,3.61,20-24
751,751,Lisjaskan36,11,Male,3.36,10-14
752,752,Mindjasksya61,17,Male,2.60,15-19
753,753,Frichirranya75,36,Male,4.23,35-39
756,756,Ilast79,20,Male,2.05,20-24
757,757,Eratiel90,18,Male,4.60,15-19
761,761,Assim27,45,Male,1.70,40+
765,765,Irith83,18,Male,2.07,15-19
769,769,Ilosian36,15,Male,4.58,15-19
771,771,Iskossasda43,16,Male,4.35,15-19
773,773,Hala31,21,Male,1.02,20-24
774,774,Jiskjask80,11,Male,4.19,10-14
775,775,Aethedru70,21,Female,3.54,20-24
777,777,Yathecal72,20,Male,3.46,20-24
778,778,Sisur91,7,Male,4.19,<10

In [22]:
# Create a groupby object based on "Age Summary"
df2_group = df2.groupby("Age Summary")["SN"].count()

In [23]:
df2_group

Age Summary
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [26]:
df2_perc = df2.groupby("Age Summary")["SN"].count()/df2["Age"].count()*100

In [27]:
df2_perc

Age Summary
<10       2.951389
10-14     3.819444
15-19    18.576389
20-24    44.791667
25-29    13.368056
30-34     9.027778
35-39     5.381944
40+       2.083333
Name: SN, dtype: float64

In [30]:
age_summary = pd.DataFrame({"Total Count": df2_group,
                           "Percentage of players": df2_perc})
age_summary.round(2)

             Total Count  Percentage of players
Age Summary
<10                   17                   2.95
10-14                 22                   3.82
15-19                107                  18.58
20-24                258                  44.79
25-29                 77                  13.37
30-34                 52                   9.03
35-39                 31                   5.38
40+                   12                   2.08

In [32]:
bins = [0,9,14,19,24,29,34,39,100]
group_names =["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
#df = df["Age"]
#df
df["Age Summary"] = pd.cut(df["Age"], bins, labels=group_names)
df

C:\Users\javie\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

,Purchase ID,SN,Age,Gender,Price,Age Summary
0,0,Lisim78,20,Male,3.53,20-24
1,1,Lisovynya38,40,Male,1.56,40+
2,2,Ithergue48,24,Male,4.88,20-24
3,3,Chamassasya86,24,Male,3.27,20-24
4,4,Iskosia90,23,Male,1.44,20-24
5,5,Yalae81,22,Male,3.61,20-24
6,6,Itheria73,36,Male,2.18,35-39
7,7,Iskjaskst81,20,Male,2.67,20-24
8,8,Undjask33,22,Male,1.10,20-24
9,9,Chanosian48,35,Other / Non-Disclosed,3.58,35-39
10,10,Inguron55,23,Male,4.74,20-24
11,11,Haisrisuir60,23,Male,2.67,20-24
12,12,Saelaephos52,21,Male,4.18,20-24
13,13,Assjaskan73,22,Male,1.70,20-24
14,14,Saesrideu94,35,Male,4.86,35-39
15,15,Lisassa64,21,Female,2.89,20-24
16,16,Lisirra25,20,Male,2.52,20-24
17,17,Zontibe81,21,Male,1.76,20-24
18,18,Reunasu60,22,Female,4.90,20-24
19,19,Chamalo71,30,Male,4.64,30-34
20,20,Iathenudil29,20,Male,4.60,20-24
21,21,Phiarithdeu40,20,Male,1.48,20-24
22,22,Siarithria38,38,Other / Non-Disclosed,3.81,35-39
23,23,Eyrian71,40,Male,3.40,40+
24,24,Siala43,30,Male,3.19,30-34
25,25,Lisirra87,29,Male,4.23,25-29
26,26,Lirtossa84,11,Male,1.61,10-14
27,27,Eusri44,7,Male,3.09,<10
28,28,Aela59,21,Male,4.32,20-24
29,29,Tyida79,24,Male,3.16,20-24
...,...,...,...,...,...,...
750,750,Iljask75,22,Male,3.61,20-24
751,751,Lisjaskan36,11,Male,3.36,10-14
752,752,Mindjasksya61,17,Male,2.60,15-19
753,753,Frichirranya75,36,Male,4.23,35-39
754,754,Pheosurllorin41,23,Female,4.05,20-24
755,755,Raesty92,12,Male,3.15,10-14
756,756,Ilast79,20,Male,2.05,20-24
757,757,Eratiel90,18,Male,4.60,15-19
758,758,Iral74,21,Male,4.03,20-24
759,759,Tyaelorap29,25,Male,3.77,25-29
760,760,Aithelis62,21,Male,2.38,20-24
761,761,Assim27,45,Male,1.70,40+
762,762,Asur53,26,Male,1.44,25-29
763,763,Lassilsala30,21,Male,1.75,20-24
764,764,Saedaiphos46,18,Male,4.07,15-19
765,765,Irith83,18,Male,2.07,15-19
766,766,Aelastirin39,23,Male,4.14,20-24
767,767,Ilmol66,8,Female,4.88,<10
768,768,Assassasta79,38,Male,4.88,35-39
769,769,Ilosian36,15,Male,4.58,15-19
770,770,Lirtosia63,34,Male,1.02,30-34
771,771,Iskossasda43,16,Male,4.35,15-19
772,772,Asur53,26,Male,3.58,25-29
773,773,Hala31,21,Male,1.02,20-24
774,774,Jiskjask80,11,Male,4.19,10-14
775,775,Aethedru70,21,Female,3.54,20-24
776,776,Iral74,21,Male,1.63,20-24
777,777,Yathecal72,20,Male,3.46,20-24
778,778,Sisur91,7,Male,4.19,<10
779,779,Ennrian78,24,Male,4.60,20-24

In [40]:
df_group = df.groupby("Age Summary")["SN"].count()

avg_purch_price = df.groupby(["Age Summary"])["Price"].mean()

total_purch_value = df.groupby(["Age Summary"])["Price"].sum()

avg_per_person = df.groupby(["Age Summary"])["Price"].sum()/df2.groupby(["Age Summary"])["Age"].count()

Age_summary1 = pd.DataFrame({"Purchase Count" : df_group,
                                     "Average Purchase Price" : avg_purch_price,
                                     "Total Purchase Value" : total_purch_value,
                                     "Avg Total Purchase per Person": avg_per_person})
Age_summary1.round(2)

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Summary,,,,
<10,23,3.35,77.13,4.54
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-39,41,3.60,147.67,4.76
40+,13,2.94,38.24,3.19

In [54]:
# Top Spenders
Spenders_count = df["SN"].value_counts()
Spenders_mean = df.groupby("SN")["Price"].mean()
Spenders_sum = df.groupby("SN")["Price"].sum()

Spenders_df = pd.DataFrame({"Total count": Spenders_count,
                              "Average Purchase Price": Spenders_mean,
                              "Total Purchase Value": Spenders_sum})
Spenders_df.sort_values(by= ["Total Purchase Value"],ascending=False).head().round(2)

             Total count  Average Purchase Price  Total Purchase Value
Lisosia93              5                    3.79                 18.96
Idastidru52            4                    3.86                 15.45
Chamjask73             3                    4.61                 13.83
Iral74                 4                    3.40                 13.62
Iskadarya95            3                    4.37                 13.10

In [74]:
# Most Popular Items
df_popular = purchase_data[["Item ID", "Item Name", "Price"]]
df_popular_Items = df_popular.groupby(["Item ID", "Item Name"])["Item Name"].count()
df_popular_price = df_popular.groupby(["Item ID","Item Name"])["Price"].mean()

In [75]:
total_popular_value = df_popular.groupby(["Item ID","Item Name"])["Price"].sum()

In [76]:
popular_item_summary = pd.DataFrame({"Total Count":df_popular_Items,
                              "Item Price":df_popular_price,
                              "Total Purchase Value": total_popular_value})

In [77]:
popular_item_summary.sort_values(by= ["Total Count"],ascending=False).round(2)

,,Total Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16
103,Singed Scalpel,8,4.35,34.80
75,Brutality Ivory Warmace,8,2.42,19.36
72,Winter's Bite,8,3.77,30.16
60,Wolf,8,3.54,28.32
59,"Lightning, Etcher of the King",8,4.23,33.84
37,"Shadow Strike, Glory of Ending Hope",8,3.16,25.28
34,Retribution Axe,8,2.22,17.76
92,Final Critic,8,4.88,39.04
53,Vengeance Cleaver,7,2.05,14.35
110,Suspension,7,1.44,10.08
7,"Thorn, Satchel of Dark Souls",7,1.33,9.31
71,Demise,7,1.61,11.27
117,"Heartstriker, Legacy of the Light",7,1.79,12.53
159,"Oathbreaker, Spellblade of Trials",7,3.08,21.56
85,Malificent Bag,7,1.75,12.25
164,Exiled Doomblade,7,1.63,11.41
141,Persuasion,7,3.19,22.33
78,"Glimmer, Ender of the Moon",7,4.40,30.80
102,Avenger,6,3.44,20.64
129,"Fate, Vengeance of Eternal Justice",6,1.54,9.24
93,Apocalyptic Battlescythe,6,1.97,11.82
54,Eternal Cleaver,6,2.50,15.00
3,Phantomlight,6,2.49,14.94
2,Verdict,6,2.48,14.88
40,Second Chance,6,2.52,15.12
...,...,...,...,...
81,Dreamkiss,2,3.61,7.22
6,Rusty Skull,2,3.70,7.40
18,"Torchlight, Bond of Storms",2,4.65,9.30
26,Unholy Wand,2,1.12,2.24
28,"Flux, Destroyer of Due Diligence",2,1.06,2.12
30,Stormcaller,2,2.21,4.42
158,"Darkheart, Butcher of the Champion",2,2.45,4.90
69,"Frenzy, Defender of the Harvest",2,1.98,3.96
132,Persuasion,2,3.33,6.66
63,Stormfury Mace,2,4.99,9.98
56,Foul Titanium Battle Axe,2,2.92,5.84
127,"Heartseeker, Reaver of Souls",2,3.92,7.84
48,"Rage, Legacy of the Lone Victor",2,2.48,4.96
125,Whistling Mithril Warblade,2,1.00,2.00
43,Foul Edge,2,3.54,7.08
115,Spectral Diamond Doomblade,2,2.04,4.08
33,Curved Axe,2,1.16,2.32
31,Trickster,2,1.55,3.10
118,"Ghost Reaver, Longsword of Magic",1,2.17,2.17
47,"Alpha, Reach of Ending Hope",1,3.58,3.58
42,The Decapitator,1,1.75,1.75
27,"Riddle, Tribute of Ended Dreams",1,3.30,3.30
126,Exiled Mithril Longsword,1,2.00,2.00
51,Endbringer,1,4.66,4.66
90,Betrayer,1,2.94,2.94
104,Gladiator's Glaive,1,1.93,1.93
23,Crucifer,1,1.99,1.99
180,Stormcaller,1,3.36,3.36
91,Celeste,1,4.17,4.17
134,Undead Crusader,1,4.50,4.50

In [78]:
# Most profitable items
popular_item_summary.sort_values(by= ["Total Purchase Value"],ascending=False).head().round(2)

,,Total Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80